// @font-face {
//     font-family: 'Press Start 2P', cursive;
//     src: url('/static/fonts/PressStart2P-Regular.ttf')
// }

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
    font-family: Lato;
  }

  .space {
      padding: 100px;
  }

  .space-three {
      padding-top: 125px;
  }

  .space-four {
      padding-top: 125px;
  }

  .title-uses {
      text-align: center;
      margin-bottom: 50px;
      color: #07207F;
  }

  .container-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
  }

  img.money {
      width: 675px;
      height: 450px;
  }

  h3.right-text {
      padding-right: 100px;
      color: #07207F;
  }

  h1.right-text-two {
    padding-left: 50px;
    color: #07207F;
}

h1.right-text-three {
    color: #07207F;
}

h2.right-text-four {
    color: #07207F;
}


h2.right-text-three {
    color: #07207F;
    padding-left: 50px;
}
  .space-two {
      padding-top: 100px;
  }



  body {
      background-color: #07207F;
  }

  img.logo {
    margin-left: 525px;
    margin-top: 150px;
  }
  
  .bg-dark{
      background-color: #07207F !important;
  }

  .navbar-light .navbar-brand {
      color: white;
  }

  .navbar-light .navbar-nav .nav-link {
      color: white !important;
  }

  div.card {
    background-color: #07207F;
  }

  .img.card-img-top {
    background-color: #07207F;
  }

  div.card {
      color: white;
  }

  .about-page h1, p {
      color: white;
  }

  p.error-page {
      margin-left: 600px;
  }

  p.tagline {
    margin-left: 675px; 
  }

  .clickable {
      cursor: pointer;
  }

  h1.welcome {
      color:white;
  }

  label {
      color: white;
  }

  .error {
      font-weight: 700;
      color: white;
  }

  h1.Account {
      color: white;
  }

  .text {
      color: white;
  }

  .about-page{
      text-align: center;
  }

  .about {
      padding-bottom: 100px;
  }

  .make-image {
    padding-bottom: 100px;
  }

  .use-paragraph {
    color: #07207F;
  }

  .use-paragraph-two {
    color: #07207F;
    padding-left: 50px;
}

.use-paragraph-three {
    color: #07207F;
    padding-right: 50px;
}

.use-paragraph-four {
    color: #07207F;
    padding-left: 50px;
}

.use-paragraph-five {
    color: #07207F;
    padding-right: 50px;
}

.space-five {
    padding-top: 125px;
}
    /*******************************************************************************
White section
*******************************************************************************/
section#about.content-section.bg-light {
    padding-top: 100px;
    padding-bottom: 100px;
}

    /*******************************************************************************
Blue section
*******************************************************************************/

section#services.content-section.bg-primary.text-white.text-center {
    background-color: #07207F !important;
    padding-top: 100px;
    padding-bottom: 100px
}

.caption-content {
    color: balck;
}

    /*******************************************************************************
Portfolio
*******************************************************************************/
section#portfolio.content-section{
    background-color: white !important;
    padding-top: 100px;
    padding-bottom: 100px
}

.portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
  }
  
  .portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }

  p.mb-0 {
      color: black;
  }
  
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0;
    }
    .portfolio-item .caption {
      -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }
    .portfolio-item img {
      -webkit-transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    .portfolio-item:hover img {
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
      background-color: rgba(29, 128, 159, 0.9);
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
  }
  /*******************************************************************************
FOOTER
*******************************************************************************/

  footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none;
  }
  

  