// @font-face {
//     font-family: 'Press Start 2P', cursive;
//     src: url('/static/fonts/PressStart2P-Regular.ttf')
// }

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
    font-family: Lato;
  }

  body {
      background-color: #00007f;
  }

  img.logo {
    margin-left: 450px;
    margin-top: 150px;
  }
  
  .bg-dark{
      background-color: #00007f !important;
  }

  .navbar-light .navbar-brand {
      color: white;
  }

  .navbar-light .navbar-nav .nav-link {
      color: white !important;
  }

  div.card {
    background-color: #00007f;
  }

  .img.card-img-top {
    background-color: #00007f;
  }

  div.card {
      color: white;
  }

  .about-page h1, p {
      color: white;
  }

  p.error-page {
      margin-left: 600px;
  }